RFC 3339 § 5.6 datetimes not supported

The [TOML spec](https://toml.io/en/v1.0.0#offset-date-time) allows replacing the `T` in a datetime with a ` ` (as permitted by [RFC 3339 § 5.6](https://www.rfc-editor.org/rfc/rfc3339#section-5.6).  However, this distribution only parses datetimes that include the `T`.